<!DOCTYPE html>
<html>
    <head>
        <title> PMI </title>
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.css">
         <link rel="stylesheet" href="/static/boot/css/example.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.js">
    </head>
    <body>
        <div class="container">
	<div class="pull-right">

{{ user }}
{% if user.is_anonymous %}
<a href="{% url 'django.contrib.auth.views.login' %}">login</a>
{% else %}
<a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
{% endif %}
</div>	
            <div class="row">                
                <div class="masthead">
                  
                    <h3 class="text-muted"> PMI</h3>                    
                    
                    <ul class="nav nav-justified" >
                        <li class="col-md-4 col-lg-4 "><a href="http://127.0.0.1:8000/pmi/proyectos/" class="brand">Proyectos</a></li>
                        <li class=" col-md-5 col-lg-5"><a href="http://127.0.0.1:8000/pmi/crear_proyecto/" class="brand">Crear proyecto</a></li>
                        <li class="col-md-6 col-lg-6"><a href="http://127.0.0.1:8000/pmi/editar_proyecto/" class="brand">Editar proyecto</a></li>
                    </ul>

                </div>
            </div>
            <br> 
            </br>
            <br> 
            </br>
            <br> 
            </br>
            <div>
                 {% block content %}{% endblock %}
            </div>
            
        </div>
    </body>
</html>
